body {
  background-color: #ebd5b3;
}

h1 {
  font-family: "Luminari";
}

a {
  font-family: "Copperplate";
}

.doom-master {
font-family: "Georgia";
}

.developer {
font-family: "Courier";
}

* {
  font-family: "Papyrus";
}
